# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
obj/*.o
obj/*.obj
obj/Win32/*

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
#*.a

# Executables
*.exe
*.out
*.app
*.o

#Windows debug stuff
x64/*

.vs/*
vc140.pdb
.gitignore
bin/ms/dumbbot_d.pdb
bin/ms/dumbbot.exp
bin/ms/dumbbot_d.exp
.vscode/launch.json
.vscode/settings.json
.vscode/c_cpp_properties.json
.vscode/tasks.json
dumbbotWin32.code-workspace
Win32/.vs/*
Win32/Release/*
Win32/Debug/*
